################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/*/obj
/*/bin
/THMS.UI.WinForms/THMS.UI.WinForms.csproj.user
